Package: com.unm.unmhook
Name: UNMHook
Version: 2.0.0
Architecture: iphoneos-arm64
Description: UnlockNeteaseMusic native hook for iOS (no Node.js)
Maintainer: TeleAgent
Author: TeleAgent
Section: Tweaks
Depends: mobilesubstrate
